<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" style="text-align: center;">  
    <p>
      First Name:
      <input type="text" formControlName="firstName">
    </p>
    <p>
      id:  
      <input type="text" formControlName="id">
    </p>
  
    <p>
      Last Name:
      <input type="text" formControlName="lastName">
    </p>
    <div formGroupName="address">
        <p>
          Street:
          <input type="text" formControlName="street">
        </p>
        <p>
          City:
          <input type="text" formControlName="city">
        </p>
        <p>
          State:
          <input type="text" formControlName="state">
        </p>
        <p>
          Zip Code:
          <input type="text" formControlName="zip">
        </p>
      </div>
      <button type="submit" [disabled]="!profileForm.valid">Submit</button>  
  </form>
